@keyframes heroText {
  0% {opacity:0; transform:translateY(40px);}
  20% {opacity:1; transform:translateY(0);}
  80% {opacity:1;}
  100% {opacity:0; transform:translateY(-40px);}
}

.animate-heroText {
  animation: heroText 2.8s ease-in-out;
}
